@{
    ViewData["Title"] = "Reset Password Confirmation Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>