@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">Login</a>
    </div>
</div>